**/.DS_STORE
**/*.pyc
**/*.swp
rlkit/launchers/config.py
rlkit/launchers/conf_private.py
MANIFEST
*.egg-info
\.idea/
**/data/**
**/data_relational/**
!data/graphs
**/.vscode/**
**/results/**
**/notebooks/**
**/policy_video/**
*.DS_Store
*.png
**/.ipynb_checkpoints/**
*.code-workspace
